body {
   padding-top: 60px;
   padding-bottom: 40px;
}

.header {
padding: 60px;
margin-bottom: 30px;
//background-color: #FFEEC1;
// background-color:#B0C7BB;
background-color:whitesmoke;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
}

.header h1 {
	margin-bottom: 0;
	font-size: 7em;
	line-height: 1;
	letter-spacing: -1px;
	text-align: center;
	text-transform: uppercase;
	color:#336699;
	//#f83
	
}

.header h2 {
	margin-bottom: 0;
	font-size: 2em;
	line-height: 1;
	letter-spacing: -1px;
	text-align: center;
	text-transform: uppercase;
	color:#336699;
}

.span4 h2 {
	color:#405466;

}

.btn{
	font-size:11px;
	line-height:15px;
}

